# KJ
testdata.xlsx
python/tests/resources/sample01

# jupyter notebook
*.ipynb

# system
~$*
.DS_Store
*__pycache__/

# poetry
poetry.lock
.venv/

# cosmos
emulatorcert.crt

# pytest
.coverage
coverage.xml
.pytest_cache/

# out
out/
