# KJ
testdata.xlsx

# jupyter notebook
*.ipynb

# system
~$*
.DS_Store
*__pycache__/

# poetry
poetry.lock
.venv/

# cosmos
emulatorcert.crt

# vscode
.vscode/

# pytest
.coverage
coverage.xml
.pytest_cache/